.courseContainer {
  margin: 7rem 2rem 2rem;
}
.card.courseContainer {
  border-color: #e74c3c !important;
}
.dataLabel {
  text-align: right;
  font-weight: bold;
}

.info-group {
  margin: 1rem;
}
.courseData {
  text-align: left;
  color: #082b64;
}

.courseTitle {
  margin: 2rem 0;
  font-weight: bold;
  color: #082b64;
}
.customBadges {
  margin-right: 10px;
  background-color: #e74c3c;
  color: #fff;
}
.courseData > p {
  margin-bottom: 0px;
}

.miniTable {
  margin-top: 1rem;
}

.miniTable .card-header {
  background-color: #dfcb4d !important;
  font-weight: bold;
}

.cardHeaderBackground {
  background-color: #eedd6d !important;
}

.enoughSpace {
  background-color: #77b646 !important;
  color: #fff !important;
}

.notEnoughSpace {
  background-color: #e74c3c !important;
}

.filterButton {
  background-color: #1a396b !important;
  color: #fff !important;
}

.removeFiltersButton {
  background-color: #eedd6d !important;
}

.scheduleOverlap {
  background-color: #f79d4a !important;
}

.noScheduleOverlap {
  background-color: #77b646 !important;
  color: #fff !important;
}

.signUpButton {
  background-color: #3d6b19 !important;
  color: #fff !important;
}

.waitingListButton {
  background-color: #dfcb4d !important;
}

.removeWaitingListButton,
.beginCourseButton {
  background-color: #e74c3c !important;
  color: #fff !important;
}

.numberInLine {
  color: #000;
}

@media screen and (max-width: 600px) {
  .courseContainer {
    width: 90%;
    margin: 5rem 1rem 10px 1rem;
    padding: 10px;
  }
  .courseData {
    text-align: center;
    padding-top: 10px;
  }
  .dataLabel {
    text-align: center;
    margin: 10px 0;
  }
  .backButton {
    margin-bottom: 20px;
  }
  .space {
    margin-bottom: 1rem;
    border-top: 1px solid #082b64;
    border-bottom: 1px solid #082b64;
  }
}
