.singleCourse {
  margin: 7rem auto 2rem;
  width: 50%;
  padding: 2rem;
  background-color: #6ee1ff !important;
}

.dataLabel {
  text-align: right;
  font-weight: bold;
}

.courseData {
  text-align: left;
  color: #082b64;
}

.courseTitle {
  margin: 2rem 0;
  font-weight: bold;
  color: #082b64;
}
.customBadges {
  margin-right: 10px;
  background-color: #e74c3c;
  color: #fff;
}
.courseData > p {
  margin-bottom: 0px;
}

@media screen and (max-width: 768px) {
  .singleCourse {
    width: 90%;
    margin: 5rem 1rem 10px 1rem;
    padding: 10px;
  }
  .courseData {
    text-align: center;
    padding-top: 10px;
  }
  .dataLabel {
    text-align: center;
    margin: 10px 0;
  }
  .backButton {
    margin-bottom: 20px;
  }
  .space {
    margin-bottom: 1rem;
    border-top: 1px solid #082b64;
    border-bottom: 1px solid #082b64;
  }
}
