.table {
  margin-top: 8rem;
}
.title {
  color: #1a396b;
  margin: 3rem 0;
}
Th {
  color: #e74c3c;
}

.noBorder {
  border-top: none !important;
}

@media screen and (max-width: 40em) {
  .responsiveTable tbody tr {
    border: 1px solid #1a396b;
  }
  .responsiveTable td .tdBefore {
    color: #e74c3c;
  }
}
.editButton.details {
  margin-top: 0px;
}
.editButton.lessons {
  margin-top: 0px;
  background-color: #e74c3c;
}
.editButton.lessons:hover {
  margin-top: 0px;
  background-color: #c43c2c;
}
