.accordion {
  border: none !important;
}
.accordion .accordion-item .title {
  background-color: #d2c04e !important;
  color: #1a396b !important;
  font-weight: bold;
}

.accordion .accordion-item.active .title {
  background-color: #eedd6d !important;
}
.accordion .accordion-item:nth-child(2n) .title {
  background-color: #eedd6d !important;
}
.accordion .accordion-item:nth-child(2n).active .title {
  background-color: #d2c04e !important;
}
.lessonDescription {
  /* display: inline-block; */
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .lessonsAccordion {
    margin: 1rem 10px;
  }
}
.addLessonForm {
  margin: 3rem 2rem;
  text-align: left;
  padding-bottom: 3rem;
}
.lessonsOfCourseContainer {
  margin: 8rem 2rem 2rem 2rem;
}
.lessonsAccordion {
  margin: 2rem;
}

.lessonContent {
  padding: 2rem;
  text-align: left;
}

.absent {
  color: #e74c3c;
}
.present {
  color: #4fd1bd;
}
.notMarked {
  color: #888;
}

.absent,
.present,
.notMarked {
  font-size: 1.5rem;
}

TR.alternate:nth-child(2) {
  border-top: 1px solid #eedd6d;
  border-bottom: 1px solid #eedd6d;
}

TD {
  padding: 10px;
}
.editButtonContainer {
  text-align: right;
}

.saveButton:hover {
  background: #d13c2c;
}
.saveButton {
  background: #e74c3c;
  color: #fff;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}
.btn.focus,
.btn:focus {
  box-shadow: none !important;
}
.accordion .accordion-item.active .panel {
  max-height: fit-content !important;
}
@media screen and (max-width: 800px) {
  .lessonsOfCourseContainer {
    margin: 4rem 1rem;
    padding: 2px;
  }
  .lessonContent {
    padding: 10px;
  }
  .lessonsAccordion {
    margin: 0px;
  }
  .table {
    margin-top: 3rem;
  }
}
