.accordion {
  border: none !important;
}
.accordion .accordion-item .title {
  background-color: #e7d55d !important;
  color: #1a396b !important;
  font-weight: bold;
}
.accordion .accordion-item:nth-child(2n).active .title {
  background-color: #ddcb58 !important;
}

.accordion .accordion-item.active .title {
  background-color: #eedd6d !important;
}
.accordion .accordion-item:nth-child(2n) .title {
  background-color: #eedd6d !important;
}

.lessonDescription {
  /* display: inline-block; */
  font-size: 1.2rem;
}
@media screen and (max-width: 768px) {
  .lessonsAccordion {
    margin: 1rem 10px;
  }
}
.addLessonForm {
  margin: 3rem 2rem;
  text-align: left;
  padding-bottom: 3rem;
}
.lessonsOfCourseContainer {
  margin: 8rem 2rem 2rem 2rem;
  overflow: auto;
}
.lessonsAccordion {
  margin: 2rem;
}

.lessonContent {
  padding: 2rem;
  text-align: left;
}

.lessMargin {
  margin-top: 0 !important;
}

.absent {
  color: #e74c3c;
}
.present {
  color: #4fd1bd;
}
.notMarked {
  color: #888;
}

.absent,
.present,
.notMarked {
  font-size: 1.5rem;
}

TR.alternate:nth-child(2n) {
  border-top: 1px solid #eedd6d;
  border-bottom: 1px solid #eedd6d;
}

/* TD {
  padding: 10px;
} */
.editButtonContainer {
  text-align: right;
}

.saveButton:hover {
  background: #d13c2c;
}
.saveButton {
  background: #e74c3c;
  color: #fff;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}
.btn.focus,
.btn:focus {
  box-shadow: none !important;
}
.accordion .accordion-item.active .panel {
  max-height: fit-content !important;
}
.sumbitBtn {
  background-color: #6ee1ff !important;
}

.attendanceBadge {
  margin-left: 10px;
}

.lessonPerCourse {
  text-align: left;
  margin-bottom: 1rem;
}

.courseTitle {
  margin-bottom: 2rem;
}

.day,
.startTime,
.endTime {
  display: inline-block;
  margin: 10px;
}

.courseInfo {
  border: 1px solid #1a396b;
  box-shadow: 1px 1px 1px #ccc;
  margin: 1rem auto;
  border-radius: 2rem;
  width: 50%;
}
.studentLesson {
  margin-bottom: 3rem;
}

@media screen and (max-width: 800px) {
  .lessonsOfCourseContainer {
    margin: 4rem 1rem;
    padding: 2px;
  }
  .lessonContent {
    padding: 10px;
  }
  .lessonsAccordion {
    margin: 0px;
  }
  .table {
    margin-top: 3rem;
  }
}
