.outer {
  background: url(../../assets/images/bg1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.filled {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #eedd6d;
  padding: 1rem;
}
.inner {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-color: #eedd6d;
  padding: 1rem;
  border-radius: 20px;
}
.login {
  background-color: #1a396b !important;
  color: #fff !important;
}
.register {
  background-color: #e74c3c !important;
  color: #fff !important;
}

.logoRegisterPicture {
  width: 6rem;
}

@media only screen and (max-width: 768px) {
  .inner {
    width: 90%;
  }
}
