.welcome {
  background-attachment: fixed;
  background-size: cover;
  line-height: 1.8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome.admin {
  background-image: url("../../assets/images/adminBackground.png");
  background-color: #949494;
}

.welcome.student {
  background-image: url("../../assets/images/studentBackground.png");
  background-color: #2b7fa2;
}

.welcome.teacher {
  background-image: url("../../assets/images/teacherBackground.png");
  background-color: #d2c04e;
}

.welcome.parent {
  background-image: url("../../assets/images/parentBackground.png");
  background-color: #a2c65d;
}

.welcomeLogo {
  width: 10rem;
}

.welcomeButton {
  background: #e74c3c;
  color: #fff;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.welcomeMessage {
  color: #fff;
  padding: 0.7rem 1.5rem;
  margin-top: 1rem;
}
