.adminAllCoursesContainer,
.adminAllEventsContainer {
  margin: 8rem 2rem;
}
.allCoursesTable,
.allTeachersTable,
.allEventsTable {
  width: 100%;
  border-collapse: collapse;
}

.allCoursesTh,
.allTeachersTh,
.allEventsTh {
  padding-left: 20px;
}
.allCoursesTableHead,
.allTeachersTableHead,
.allEventsTableHead {
  border-bottom: 1px solid #9e9796;
}

.allCoursesRow:nth-of-type(2n) {
  background-color: #f0eeee;
}
.allEventsRow:nth-of-type(2n) {
  background-color: #cbe8f1;
}

.allTeachersRow:nth-of-type(2n) {
  background-color: #fcf7d8;
}

.allCoursesTd,
.allTeachersTd,
.allEventsTd {
  word-wrap: break-word;
}

.globalSearchInput {
  width: 100%;
  border: 1px solid #bfdeff;
}

.biggerLabel {
  font-size: 1.1rem;
}

div[role="columnheader"] {
  margin-bottom: 1rem;
}

.detailsBadgeDiv {
  display: inline-block;
  margin-right: 0.2rem;
  margin-left: 0.2rem;
}

.addDetailsButton {
  background-color: #5b8a38 !important;
  color: #fff !important;
  border-radius: 15px !important;
}

.salaryInput {
  z-index: 1 !important;
  background-color: red !important;
}

.fadeIn {
  animation: fadeIn 0.5s ease-in-out forwards !important;
}

.fullHeight {
  margin-bottom: 3rem;
}

.editIcon {
  margin-right: 5px;
}
.saveCourseButton {
  background-color: #e74c3c !important;
  color: #fff;
  margin-top: 6rem;
  padding: 0.7rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-weight: 700;
}

.allTeachersTd {
  padding: 10px;
}

.addTeacherButton {
  background-color: #eedd6d !important;
  color: #000040 !important;
}
/* input {
  z-index: -1 !important;
} */

/* .bootstrap-datetimepicker-widget {
  z-index: 99999 !important;
} */

@media only screen and (max-width: 768px) {
  .adminAllCoursesContainer,
  .adminAllEventsContainer {
    margin: 4rem 1rem;
  }

  /* Force table to not be like tables anymore */
  .allCoursesTable,
  .allCoursesTableHead,
  .allCoursesTableBody,
  .allCoursesTh,
  .allCoursesTd,
  .allCoursesRow,
  .allTeachersTable,
  .allTeachersTableHead,
  .allTeachersTableBody,
  .allTeachersTh,
  .allTeachersTd,
  .allTeachersRow,
  .allEventsTable,
  .allEventsTableHead,
  .allEventsTableBody,
  .allEventsTh,
  .allEventsTd,
  .allEventsRow {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .allCoursesTableHead tr,
  .allTeachersTableHead tr,
  .allEventsTableHead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .allCoursesRow,
  .allTeachersRow,
  .allEventsRow {
    border: 1px solid #ccc;
  }

  .allCoursesTd,
  .allEventsTd,
  .allTeachersTd {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .allCoursesTd:before,
  .allEventsTd:before,
  .allTeachersTd:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  /*
	Label the data
	*/
  .allCoursesTd:nth-of-type(1):before {
    content: "Course ID";
  }
  .allCoursesTd:nth-of-type(2):before {
    content: "Titile";
  }
  .allCoursesTd:nth-of-type(3):before {
    content: "Status";
    margin-top: 0.5rem;
  }
  .allCoursesTd:nth-of-type(4):before {
    content: "Level";
    margin-top: 0.5rem;
  }
  .allCoursesTd:nth-of-type(5):before {
    content: "Price/Student";
  }
  .allCoursesTd:nth-of-type(6):before {
    content: "Details";
    margin-top: 1rem;
  }

  .allTeachersTd:nth-of-type(1):before {
    content: "Teacher ID";
  }
  .allTeachersTd:nth-of-type(2):before {
    content: "Name";
  }
  .allTeachersTd:nth-of-type(3):before {
    content: "Gender";
  }
  .allTeachersTd:nth-of-type(4):before {
    content: "Teaching courses";
  }
  .allTeachersTd:nth-of-type(5):before {
    content: "Substituting courses";
  }

  .allEventsTd:nth-of-type(1):before {
    content: "Event ID";
  }
  .allEventsTd:nth-of-type(2):before {
    content: "Titile";
  }
  .allEventsTd:nth-of-type(3):before {
    content: "Status";
    margin-top: 0.5rem;
  }
  .allEventsTd:nth-of-type(4):before {
    content: "Min age";
  }
  .allEventsTd:nth-of-type(5):before {
    content: "Max age";
  }
  .allEventsTd:nth-of-type(6):before {
    content: "Capacity";
  }
  .allEventsTd:nth-of-type(7):before {
    content: "Details";
  }
}
