.A1 {
  background-color: #359fc1;
}
.A2 {
  background-color: #1a396b;
  color: #fff;
}
.B1 {
  background-color: #eedd6d;
}
.B2 {
  background-color: #e74c3c;
  color: #fff;
}
.C1 {
  background-color: #98bf7b;
}
.C2 {
  background-color: #5b8a38;
  color: #fff;
}
