.upcomming {
  background-color: #359fc1;
}
.canceled {
  background-color: #eedd6d;
}
.finished {
  background-color: #e74c3c;
  color: #fff;
}
.started {
  background-color: #5b8a38;
  color: #fff;
}
.hide {
  z-index: -1 !important;
}

.normal {
  z-index: 1 !important;
}
